<html>

<body>
    <h1>
        <a routerLink="/">Monogatari Canvas/ Vikas Yadav</a>
    </h1>
    <br>

    <div class="row">
        <div class="column">
            <div class="box">
                <div class="front face">
                    <a href="/about">
                        <img src="../../assets/img/WaterFall.JPG">
                    </a>
                </div>
                <div class="right face">
                    <div class="project-title">Water Fall</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="front face">
                    <a href="/about">
                        <img src="../../assets/img/Akash_Display.jpg">
                    </a>
                </div>
                <div class="right face">
                    <div class="project-title"> Akash Bisht</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="front face">
                    <a href="/about">
                        <img src="../../assets/img/DevilFan.JPG">
                    </a>
                </div>
                <div class="right face">
                    <div class="project-title">Devil Fan</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>