<html>

<body>
    <h1>
        <a routerLink="/">Monogatari Canvas/ Vikas Yadav</a>
    </h1>
    <br>
    <div class="row">
        <div class="column">
            <a href="/about">
                <img src="../../assets/img/WaterFall.JPG">
                <div class="project-title">Water Fall</div>
            </a>
        </div>
        <div class="column">
            <a href="/about">
                <img src="../../assets/img/DevilTree.JPG">
                <div class="project-title">Devil Tree</div>
            </a>
        </div>
        <div class="column">
            <a href="/about">
                <img src="../../assets/img/Together.jpg">
                <div class="project-title">A walk to remember</div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a href="/about">
                <img src="../../assets/img/WaterFall.JPG">
                <div class="project-title">Water Fall</div>
            </a>
        </div>
        <div class="column">
            <a href="/about">
                <img src="../../assets/img/DevilTree.JPG">
                <div class="project-title">Water tree</div>
            </a>
        </div>
        <div class="column">
            <a href="/about">
                <img src="../../assets/img/Together.jpg">
                <div class="project-title">Water Fall</div>
            </a>
        </div>
    </div>
</body>

</html>